<ion-header style="border-bottom: 0px solid #fff;">
  <ion-toolbar>


    <ion-buttons slot="start">
      <ion-back-button slot="icon-only" icon="arrow-back-outline" style="color: white ;" defaultHref="/" text=""  mode="ios"> </ion-back-button> 
    </ion-buttons>


    <div style="text-align: center;margin-top: 5px;padding-bottom: 5px;">
      <ion-img class="img_menu" style="height: 40px;"  src="./assets/icon/logo.png"></ion-img>
    </div>


 



    <div slot="end"  fill="clear" id="open-date-input-2" >
      <ion-button (click)="ocultar_detalle()" fill="clear" id="open-date-input-2" >
        <ion-icon *ngIf="!hide_detalle"  slot="icon-only" name="eye-off" style="color: white;"></ion-icon>
        <ion-icon *ngIf="hide_detalle"  slot="icon-only"  name="eye" style="color: white;" ></ion-icon>
      </ion-button> 
      <ion-button (click)="abrir_filtros()" fill="clear" id="open-date-input-2" >
        <ion-icon slot="icon-only" name="funnel" style="color:white;"></ion-icon>
      </ion-button> 
    </div>


  </ion-toolbar>


</ion-header>


<ion-content>

  <div id="map2" class="map2"></div>

</ion-content>



