
.btnprincipal{
    // background:#fff;height: 150px;
    // box-shadow: 0 7px 29px 0 #64646f33;
  //background: rgba(255, 255, 255, 0);
    padding: 18px;
    //margin: 10px;
    // border-radius: 5px;
    width: 100%;
}
.btnprincipal2{
    background:white;height: 130px;
    box-shadow: 0 7px 9px 0 #64646f33;
    //padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 1px;
    border-radius: 5px;
    width: 100%;  
    height: 100% !important;
}
.img_menu{
    height:100%;width: 40%;margin: 0 auto;padding-top: 25px;
}
.text_menu{
    text-align: center;padding-top: 10px;
    color: #000;
}
@media screen and (min-width: 800px) {
    .img_menu{
        height:100%;width: 20%;margin: 0 auto;padding-top: 25px;
    }
}
ion-toolbar {
    --color: #ffffff;
    --background: #0c287e   ;
    --border-width: 0px !important;
    padding-left: 10px;
    padding-right: 10px;
}

