<ion-header style="border-bottom: 0px solid #fff;">
  <ion-toolbar>


    <ion-buttons slot="start">
      <ion-back-button slot="icon-only" icon="arrow-back-outline" style="color: white ;" defaultHref="/" text=""  mode="ios"> </ion-back-button> 
    </ion-buttons>


    <div style="text-align: center;margin-top: 5px;padding-bottom: 5px;">
      <ion-img class="img_menu" style="height: 40px;"  src="./assets/icon/logo.png"></ion-img>
    </div>

    <ion-button slot="end" (click)="abrir_filtros()" fill="clear" id="open-date-input-2" >
     
      <!-- <ion-icon name="funnel" style="color:white;"></ion-icon> -->
  </ion-button> 

    <!-- <ion-title class="ion-text-capitalize"></ion-title> -->

  </ion-toolbar>




</ion-header>

<ion-content>
  <div class="contenedor" style="width: 100%;">
    <img src="/assets/imagenes_unifilares/Punto_Frontera_BOL-ARG.png" alt="">
    <div class="texto-encima">

        12312  <----- Potencia activa ---> 123123 
    </div>
  </div>

</ion-content>
