ion-content {
    #map {
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 150ms ease-in;
      display: block;
      &.show-map{
        opacity: 1;
      }
    }
}

ion-toolbar {
    --color: #ffffff;
    --background: linear-gradient(#0c287e, #2548b1);
    --border-width: 0px !important;
    padding-left: 10px;
    padding-right: 10px;

    
}

ion-datetime{
    background: #ffffff;
    color: var(--ion-color-step-500, gray);
    --background: #ffffff;; //color de fondo al escoger una gestion
}


.datetime-year{
    --background: red;
}

.list-md{
    padding-top: 0px;
    padding-bottom: 0px;
}
.paginador{
    text-align: center;
    //border: 0.5px solid #f1ebeb;
    color: white;
    //border-radius: 5px;
    padding: 8px;
}

.linea_separador{
    border-bottom: 1px solid #cec9c9;padding-bottom: 3px;
}

.tarjeta-titulo{
    font-size: 11px;
    color: #616161;
    font-weight: bold;
    padding-top: 4px;
}
.tarjeta-descripcion{
    color: #616161;font-size: 11px;
}
.icono-paginador{
    zoom:1.5;
}
.detalle_linea{
    position: relative;
    top: -125px;
    width: 250px;
    // margin: 0 auto;
    opacity: 0.6;
    background: black;
    margin-left: 15px;
    border-radius: 5px;
    color: white;
}
.contenido_detalle{
    padding: 8px;
}

.negrita{
    font-size: 1.0em;
    color: #262626;
    
    font-weight: bold;
    padding-top: 4px;
    background: rgb(235, 233, 233);
}


.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
// tartagal
.tar-arg-p{
    position: absolute;
    top: 8%;
    left: 23%;
    // transform: translate(-50%, -50%);
    font-size: 4vw !important;
    text-align: left;
}
.tar-arg-q{
    position: absolute;
    top: 10.7%;
    left: 23%;
    // transform: translate(-50%, -50%);
    font-size: 4vw !important;
    text-align: left;
}
.tar-arg-u{
    position: absolute;
    top: 13%;
    left: 23%;
    // transform: translate(-50%, -50%);
    font-size: 4vw !important;
    text-align: left;
}
.tar-arg-freq{
    position: absolute;
    top: 15.3%;
    left: 23%;
    // transform: translate(-50%, -50%);
    font-size: 4vw !important;
    text-align: left;
}
.tar-arg-1dt02{
    position: absolute;
    top: 11.3%;
    left: 47.5%;
    width: 5.1%;
    height: 3%;
    border: rgba(255, 242, 0, 0.744) 3px solid;
    background: white;
}
.tar-arg-a732{
    position: absolute;
    top: 38.2%;
    left: 47.5%;
    width: 5.1%;
    height: 3%;
    border: rgba(255, 242, 0, 0.744) 3px solid;
    background: white;
}
.tar-arg-z739{
    position: absolute;
    top: 59.7%;
    left: 47.5%;
    width: 5.1%;
    height: 3%;
    border: rgba(255, 242, 0, 0.744) 3px solid;
    background: white;
}

// yaguacua

.yag-p{
    position: absolute;
    top: 34.4%;
    left: 23%;
    // transform: translate(-50%, -50%);
    font-size: 4vw !important;
    text-align: left;
}
.yag-q{
    position: absolute;
    top: 36.9%;
    left: 23%;
    // transform: translate(-50%, -50%);
    font-size: 4vw !important;
    text-align: left;
}
.yag-u{
    position: absolute;
    top: 39.3%;
    left: 23%;
    // transform: translate(-50%, -50%);
    font-size: 4vw !important;
    text-align: left;
}
.yag-freq{
    position: absolute;
    top: 41.6%;
    left: 23%;
    // transform: translate(-50%, -50%);
    font-size: 4vw !important;
    text-align: left;
}

// sur 30 ----------------------------------------
.sur-30-p{
    position: absolute;
    top: 79.6%;
    left: 2%;
    font-size: 4vw !important;
    text-align: left;
}
.sur-30-q{
    position: absolute;
    top: 82%;
    left: 2%;
    font-size: 4vw !important;
    text-align: left;
}
// sur 31 ----------------------------------------
.sur-31-p{
    position: absolute;
    top: 79.6%;
    left: 35%;
    font-size: 4vw !important;
    text-align: left;
}
.sur-31-q{
    position: absolute;
    top: 82%;
    left: 35%;
    font-size: 4vw !important;
    text-align: left;
}
// sur 32 ------------------------------------
.sur-32-p{
    position: absolute;
    top: 79.6%;
    left: 67%;
    font-size: 4vw !important;
    text-align: left;
}
.sur-32-q{
    position: absolute;
    top: 82%;
    left: 67%;
    font-size: 4vw !important;
    text-align: left;
}

.sur_mw{
    position: absolute;
    top: 79.6%;
    left: 89.2%;
    font-size: 3vw !important;
    text-align: left;
}
.sur_mvar{
    position: absolute;
    top: 82%;
    left: 89.2%;
    font-size: 3vw !important;
    text-align: left;
}
.contenedor {
    width: 100% !important;
    height: auto !important;
}
//  ion-content{
//       --background: #e51111 !important;
//  }
.cerrado{
    display: none;
    visibility: hidden;
}
.abierto{
    display: block;
    visibility: visible;
}
