ion-content {
    #map {
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 150ms ease-in;
      display: block;
      &.show-map{
        opacity: 1;
      }
    }
}

ion-toolbar {
    --color: #ffffff;
    --background: linear-gradient(#0c287e, #2548b1);
    --border-width: 0px !important;
    padding-left: 10px;
    padding-right: 10px;

    
}

ion-datetime{
    background: #ffffff;
    color: var(--ion-color-step-500, gray);
    --background: #ffffff;; //color de fondo al escoger una gestion
}


.datetime-year{
    --background: red;
}

.list-md{
    padding-top: 0px;
    padding-bottom: 0px;
}
.paginador{
    text-align: center;
    //border: 0.5px solid #f1ebeb;
    color: white;
    //border-radius: 5px;
    padding: 8px;
}

.linea_separador{
    border-bottom: 1px solid #cec9c9;padding-bottom: 3px;
}

.tarjeta-titulo{
    font-size: 11px;
    color: #616161;
    font-weight: bold;
    padding-top: 4px;
}
.tarjeta-descripcion{
    color: #616161;font-size: 11px;
}
.icono-paginador{
    zoom:1.5;
}
.detalle_linea{
    position: relative;
    top: -125px;
    width: 250px;
    // margin: 0 auto;
    opacity: 0.6;
    background: black;
    margin-left: 15px;
    border-radius: 5px;
    color: white;
}
.contenido_detalle{
    padding: 8px;
}

.negrita{
    font-size: 1.0em;
    color: #262626;
    
    font-weight: bold;
    padding-top: 4px;
    background: rgb(235, 233, 233);
}


.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 40px;
    left: 55px;
}