<ion-header style="border-bottom: 0px solid #fff;">
  <ion-toolbar style="height: 60px;">


    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" style="color: white ;" defaultHref="/" text=""  mode="ios"> </ion-back-button> 
    </ion-buttons>


    <div style="text-align: center;margin-top: 5px;">
      <ion-img class="img_menu" style="height: 40px;"  src="./assets/icon/logo.png"></ion-img>
    </div>

    <ion-buttons slot="end">
      <!-- <div>
        <ion-img class="img_menu" style="height: 40px;"  src="./assets/icon/logo.png"></ion-img>
      </div> -->
        <!-- <ion-icon name="notifications-outline" style="zoom:2.0;"></ion-icon> -->
    </ion-buttons>

    <!-- <ion-title class="ion-text-capitalize"></ion-title> -->

  </ion-toolbar>




</ion-header>

<div style="background: #fff;">
  
  <div style="text-align: center;color:black;font-size: 12px;margin-top: 0px;padding: 8px;font-family: Verdana;"> 
    {{titulo}} 
  </div>

</div>

